.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: -10px;
    background: rgb(0, 0, 0);
    color: #fff;
    
    
}

.header img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

#logo {
    display: flex;
    align-items: center;
}

#logo img {
    margin-right: 15px;
}

#logo h1 {
    color: #fff;
    font-size: 28px;
}

#links {
    display: flex;
    gap: 20px;
}

#links a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#links a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}
#stoms {
    position: relative;
    border-radius: 30px;
    padding: 40px;
    margin-top: 10px;
    font-family: 'Courier New', Courier, monospace;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease;
    color: white; 
}

.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; 
}


#stoms:hover {

    transform: scale(0.97);
}
.box {

    padding: 20px;
    box-sizing: border-box;

}

#ongoing h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

#camp {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#tiles {
    background:linear-gradient(to bottom,#3a77df,#f9f9f9);
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    transition: all 0.3s ease;
}

#tiles:hover {
    transform: scale(1.05);
}

#tiles img {
    width: 200px;
    height: 220px;
    border: #333;
    border-width: 20px;
  
}

#tiles h3, #tiles h4, #tiles h5 {
    color: #333;
    margin: 10px 0;
}

#tiles input[type="range"] {
    width: 98%;
    margin: 10px 0;
    
    
}
#tiles button{
    margin-left: 20px;
    width: 80%;
    padding: 15px;
    border: none;
    border-radius: 15px;
    background-color: #000000;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
#tiles button:hover{
    background-color: #834040;
}