.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: -10px;
    background: rgb(0, 0, 0);
    color: #fff;
    
    
}

.header img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

#logo {
    display: flex;
    align-items: center;
}

#logo img {
    margin-right: 15px;
}

#logo h1 {
    color: #fff;
    font-size: 28px;
}

#links {
    display: flex;
    gap: 20px;
}

#links a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#links a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}
#block {
    margin-top: 50px;
  
}

#bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f1f1f1;
    padding: 10px 20px;
    border-radius: 50px;
    width: 70%;
    margin-left: 5cm;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.search {
    display: flex;
    align-items: center;
    flex-grow: 1; 
}

.search input[type=search] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc; 
    border-radius: 50px;
    margin-left: -47x; 
    outline: none; 
    transition: all 0.3s; 
}

.search input[type=search]:focus {
    border-color: #888; 
}

#filter {
    margin: 0 20px; 
    ;
}

#filter button {
    background-color: #4CAF50; 
    color: white; 
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s; 
    align-items: center;
    display: flex;
    font-size: 17px;
}

#filter button:hover {
    background-color: #45a049; 
}

.material-symbols-outlined {
    color: black;
    font-size: 24px; 
    margin: 0 10px; 
}
.data{
    margin-top: 20px;
    background:linear-gradient(to right,#24f62b,#f1f1f1);
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-style:groove;   box-shadow: #888;
    border-width: 2px;
    transition: background 0.3 ease;

}
.data:hover{
    background: linear-gradient(to right,#08c1ff,#fff);
}

.data button{
    width: 80px;
    height: 30px;
    background-color: antiquewhite;
    border-radius: 10px;
    color: #d60d0d;
    font-weight: bold;
    font-size: medium;
    cursor: pointer;
}
.data button:hover{
    background-color: aqua;}
    #filter-options, #sort-options ,#filter-options1, #sort-options1{
        background-color: #f1f1f1;
        border: 1px solid #ccc;
        padding: 10px;
        position: absolute;
        z-index: 1;
    }
    
    #filter-options label, #sort-options button,#filter-options1 label, #sort-options1 button {
        display: block;
        margin: 5px 0;
        text-align: left;
    }
    
    #sort-options button, #sort-options1 button {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: none;
        border: none;
        width: 100%;
        padding: 5px 0;
    }
    
    #sort-options button:hover , #sort-options1 button:hover{
        background-color: #ddd;
    }
    

#sort-button{display: flex;
    flex-wrap: nowrap;
    align-items: center;
    font-weight: bold;
    color: #0e0101;
    border: none;
    

}