.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: -10px;
    background: rgb(0, 0, 0);
    color: #fff;
    
    
}

.header img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

#logo {
    display: flex;
    align-items: center;
}

#logo img {
    margin-right: 15px;
}

#logo h1 {
    color: #fff;
    font-size: 28px;
}

#links {
    display: flex;
    gap: 20px;
}

#links a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#links a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}
#stoms {

    background: linear-gradient(to right, #c81f1f, #3a77df);
    border-radius: 30px;
    padding: 40px;
    margin-top: 10px;
    font-family: 'Courier New', Courier, monospace;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease;
}


#stoms:hover {

    transform: scale(0.97);
}
.box {

    padding: 20px;
    box-sizing: border-box;

}

#ongoing h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}
#bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: aqua;
    padding: 10px;
    border-radius: 20px;
}
#bar button{
    width:80px;
    height: 30px;
    background-color: #3a77df;
    font-weight: bold;
    color: #fff;
    font-size: medium;
    border-radius: 10px;
    border-style: double;
}

#bar button:hover{
    background-color: rgb(16, 224, 79);
}
