body{
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right,#11a8ff1b,#dc1d3a) ;
    background-size: fit;
    
}

.container {
    background:linear-gradient(to bottom, #91c1e1,#5b054a);
    padding: 30px;
    border-radius: 15px;
    width: 400px;
    margin: 40px auto;
 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.container label {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

.container input[type=text], 
.container input[type=password] {
    width: 90%;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 15px;
    border: 1px solid #bdc3c7;
    font-size: 16px;
}

.container button {
    margin-left: 20px;
    width: 90%;
    padding: 15px;
    border: none;
    border-radius: 15px;
    background-color: #02121c;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.container button:hover {
    background-color: #1f3e50;
}

.container .psw {
    margin-top: 20px;
    text-align: right;
  
}

.container .psw a {
    color: #42b50d;
    text-decoration: none;
}

.container .psw a:hover {
    color: #0b9bee;
}

.psw{
    margin-left: 15pc;
}

.slider-container {
    margin-top: 20px;
    text-align: center;
}

.slider {
    position: relative;
    width: 200px;
    height: 50px;
    background-color: #02121c;
    border-radius: 25px;
    overflow: hidden;
    cursor: pointer;
    margin: 0 auto;
}

.slider .slider-button {
    position: absolute;
    width: 100px;
    height: 50px;
    background-color: #fff;
    border-radius: 25px;
    transition: left 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    opacity: 50%;
}

.slider .left {
    left: 0;
}

.slider .right {
    left: 100px;
}

.slider-label {
    color: #0afc5f;
    position: absolute;
    width: 100px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.slider-label.left {
    left: 0;
}

.slider-label.right {
    right: 0;
}
