body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.payment-options, .payment-details, .campaign-info {
    width: 30%;
    padding: 20px;
    box-sizing: border-box;
}

.payment-options h2, .payment-details h2, .campaign-info h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.payment-options form label {
    display: block;
    margin-bottom: 10px;
}

.payment-details form .payment-detail {
    display: none;
    margin-bottom: 20px;
}

.payment-details form .payment-detail input,
.payment-details form .payment-detail select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    box-sizing: border-box;
}

.payment-details form .payment-detail label {
    display: block;
    margin-bottom: 5px;
}

.payment-details form button {
    display: block;
    width: 100%;
    padding: 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

.payment-details form button:hover {
    background-color: #0056b3;
}

.campaign-info img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.campaign-info p {
    font-size: 1.2em;
    color: #555;
}

/* Display payment details based on selected method */
input[name="payment-method"]:checked + .payment-detail {
    display: block;
}



.card-input {
    display: flex;
    align-items: center;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}
.card-input img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}
form button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}
form button:hover {
    background-color: #45a049;
}
.campaign-info img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ccc;
}
.campaign-info h2, .campaign-info p {
    margin: 10px 0;
}
.icon {
    width: 24px;
    height: 24px;
    vertical-align: middle;
    margin-right: 5px;
}
.valid {
    border-color: #4CAF50;
}
.invalid {
    border-color: #f44336;
}
.validation-message {
    text-align: left;
    margin-top: 1px;
    margin-bottom: 10px;
    font-size: 12px;
    color: #f44336;
    display: none;
}